    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">

        <form>
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre:</label>
                <div class="col-sm-6">
                    <input type="text" name="nombre" class="form-control" [(ngModel)]="producto.nombre" required minlength="3" maxlength="50" #nombre=ngModel>
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">
                            Nombre es Requerido
                        </div>
                        <div *ngIf="nombre.errors.minlength">
                                Nombre debe tener al menos 3 caracteres
                        </div>
                        <div *ngIf="nombre.errors.maxlength">
                                Nombre debe tener al minimo 50 caracteres
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                    <label for="precio" class="col-form-label col-sm-2">Precio:</label>
                    <div class="col-sm-6">
                        <input type="text" name="precio" class="form-control" [(ngModel)]="producto.precio" required maxlength="10" pattern="[0-9]{1,10}" #precio=ngModel>
                        <div class="alert alert-danger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                                <div *ngIf="precio.errors.required">
                                        Precio es requerido
                                </div>
                                <div *ngIf="precio.errors.pattern">
                                        debe ser un número entre uno a diez digitos
                                </div>
                        </div>
                    </div>
            </div>
            <div class="form-group row">
                    <label class="mdb-main-label" style="padding-left: 1%;padding-right: 6%;">Tipo Producto:</label>
                    <div class="col-sm-6">
                            <select class="mdb-select form-control" name="tipoProducto" [(ngModel)]="producto.tipoProducto">
                                      <option value="aseo" selected>aseo</option>
                                      <option value="consumo">consumo</option>
                                      <option value="utencilio">utencilio</option>
                                      <option value="higiene">higiene</option>
                                  </select>
                    </div>
            </div>
            <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!producto.id else elseBlock">Crear</button>
                        <ng-template #elseBlock>
                                <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
                        </ng-template>
                    </div>
                </div>
        </form>

    </div>
