<div class="card border-primary mb-3">
  <div class="card-header">Productos</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Productos</h5>

    <div>
      <button class="btn btn_rounded btn-primary" type="button" [routerLink] = "['/product/form']">Crear Producto</button>
    </div>
    <br>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>precio</th>
          <th>tipo producto</th>
          <th>editar</th>
          <th>eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.nombre }}</td>
          <td>${{ product.precio }}</td>
          <td>{{ product.tipoProducto }}</td>
          <td>
            <button type="button" name="button" [routerLink]="['/product/form',product.id]" class="btn btn-primary">Editar</button>
          </td>
          <td>
              <button type="button" name="butto(n" (click)="delete(product)" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
